<!--<nav class="navbar navbar-expand-lg bg-body-tertiary  bg-dark" data-bs-theme="dark" aria-label="Thirteenth navbar example">
	<div class="container-fluid">
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
		<a class="navbar-brand col-lg-3 me-0" href="/">BLOGGY</a>
		<ul class="navbar-nav col-lg-6 justify-content-lg-center">
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/about">About</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/contact">Contact us</a>
		  </li>
		</ul>
		<div class="d-lg-flex col-lg-3 justify-content-lg-end">
			<a class="btn btn-primary btn-lg" href="#" role="button">SIGN UP</a>
		</div>
	  </div>
	</div>
  </nav>-->
<nav class="navbar">
	<img src="/assets/logo.png" class="logo" alt="" />
	<ul class="links-container">
		<li class="link-item"><a href="/" class="link">Home</a></li>
		<li class="link-item"><a href="/posts" class="link">Posts</a></li>
		<li class="link-item"><a href="/user" class="link">Sign Up </a></li>
		<li class="link-item">
			<a href="/contact" class="link">Contact Us </a>
		</li>
		<li class="link-item"><a href="/about" class="link">About </a></li>
	</ul>
</nav>
