<%- include("includes/header") %> <%- include('includes/navbar') %>
<div id="about_page">
	<h1>About</h1>
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi quos beatae
		reiciendis consequatur corporis voluptatibus, quae, necessitatibus amet modi
		in itaque doloribus saepe totam fugit iusto mollitia enim obcaecati at atque
		pariatur, expedita illum. Nulla, earum? Aliquid deserunt in saepe aliquam?
		Omnis dolorum eos veniam placeat dignissimos sint earum perferendis
		voluptate commodi, perspiciatis vitae minus libero nesciunt temporibus
		reiciendis cum animi enim consequuntur aliquid. Nesciunt omnis ad quidem
		exercitationem officia qui asperiores quasi repellendus, animi eligendi quis
		voluptas, perspiciatis debitis error corrupti iste ipsa laborum, id
		doloribus eaque hic. Ad earum tempore rerum, neque laboriosam praesentium
		hic beatae delectus! Harum.
	</p>
</div>
<%- include("includes/footer"); -%>
