<!--div class="px-4 py-5 my-5 text-center">
	<h1 class="display-5 fw-bold text-body-emphasis">
		Publish your passions, your way
	</h1>
	<div class="col-lg-6 mx-auto">
		<p class="lead mb-4">Create a unique and beautiful blog easily.</p>
		<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
			<a class="btn btn-primary btn-lg px-4 gap-3" href="/compose" role="button"
				>Add Your Blog</a
			>
		</div>
	</div>
</div>-->

<%- include('includes/header') %> <%- include('includes/navbar') %>
<header class="header">
	<div class="content">
		<h1 class="heading">
			<span class="small">welcome in the world of</span>
			blog
			<span class="no-fill">writing</span>
		</h1>
		<a href="/compose" class="btn" style="background-color: wheat"
			>write a blog</a
		>
	</div>
</header>
<section class="blogs-section">
	<!-- <div class="blog-card">
		<img src="img/header.png" class="blog-image" alt="">
		<h1 class="blog-title">Lorem ipsum dolor sit amet consectetur.</h1>
		<p class="blog-overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt incidunt fugiat quos porro repellat harum. Adipisci tempora corporis rem cum.</p>
		<a href="/" class="btn dark">read</a>
	</div> -->
</section>

<%-include('includes/footer') %>
