<%- include('includes/header.ejs') %> <%- include('includes/navbar') %>

<div class="jumbotron centered">
	<div class="container">
		<h1 class="display-3">Bloggy</h1>
		<p class="lead">publish your blog and passion</p>
		<hr />
		<a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
		<a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
	</div>
</div>
<%- include('includes/footer.ejs') %>
